.navbar {
  background-color: #34495e;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  margin: 0;
}

.menu {
  display: flex;
}
